.container {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin: 5px;
  background-color: green;
  border: 1px solid transparent;
  user-select: none;
}

.back{
  background-color: black;
}

.hidden{
  background-color: gray;
  color: transparent;
}

.invalid{
  border: 1px solid red;
}

.matched{
  background-color: pink;
}