.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card{
  height: 50px;
  width: 50px;
  margin: 5px;
  background-color: green;
}

.back{
  background-color: black;
}

.hidden{
  background-color: gray;
}